@import "~bootstrap/scss/bootstrap";

.task-card {
    margin-right: 10px;
    margin-bottom: 10px;
}

#pagetitle {
    color: black;
}

#new-title {
    width: 100%;
}

#new-desc {
    width: 100%;
}